<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ProcessFulfillment" preserve-order="true">
	<test name="ProcessfulfillmentRequestBulk_Created_In_Mongo">
		<classes>
			<class
				name="com.shutterfly.missioncontrol.restful.ProcessFulfillmentRequestTransactionalExternalDataOnly" />
				<class
				name="com.shutterfly.missioncontrol.restful.ProcessFulfillmentRequestTransactionalExternalPrintReady" />
				<class
				name="com.shutterfly.missioncontrol.restful.ProcessFulfillmentRequestTransactionalInlineDataOnly" />
				
				
				
				
		</classes>
	</test>
</suite> <!-- Suite -->
